*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Poppins,sans-serif;

    background:#030712;
    color:white;

    min-height:100vh;

    overflow-x:hidden;
}

.bg-animation{

    position:fixed;
    inset:0;

    background:

    linear-gradient(120deg,
    #000428,
    #004e92,
    #2b1055);

    background-size:400% 400%;

    animation:bg 12s infinite alternate;

    z-index:-1;

}

@keyframes bg{

0%{
background-position:left;
}

100%{
background-position:right;
}

}

header{

text-align:center;

padding:40px 20px;

}

h1{

font-family:Orbitron;

font-size:48px;

margin-bottom:30px;

text-shadow:

0 0 10px cyan,

0 0 25px cyan;

}

.search-box{

display:flex;

justify-content:center;

gap:15px;

flex-wrap:wrap;

}

input{

width:400px;

padding:15px;

border:none;

outline:none;

border-radius:12px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(15px);

color:white;

font-size:18px;

}

button{

padding:15px 30px;

border:none;

cursor:pointer;

border-radius:12px;

background:cyan;

color:black;

font-weight:bold;

transition:.3s;

}

button:hover{

transform:scale(1.08);

box-shadow:

0 0 20px cyan,

0 0 40px cyan;

}

#newsContainer{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(320px,1fr));

gap:25px;

padding:40px;

}

.card{

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.15);

border-radius:18px;

overflow:hidden;

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

box-shadow:

0 0 25px cyan;

}

.card img{

width:100%;

height:220px;

object-fit:cover;

}

.content{

padding:20px;

}

.content h2{

font-size:20px;

margin-bottom:15px;

}

.content p{

font-size:15px;

line-height:1.7;

opacity:.8;

margin-bottom:15px;

}

.content a{

text-decoration:none;

color:cyan;

font-weight:bold;

}

.loading{

font-size:25px;

text-align:center;

grid-column:1/-1;

}

@media(max-width:700px){

input{

width:100%;

}

.search-box{

padding:0 20px;

}

h1{

font-size:35px;

}

}